.property-container{
    overflow: hidden;
    position: relative;
}
.property-header{
    margin-bottom: 2rem;
}
.property-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width:max-content ;
    margin: auto;
    transition: all 300ms ease-in;
}

.property-card>img{
    width: 100%;
    max-width: 15rem;
}

.property-card>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 600;
}
.property-card>:nth-child(3){
    font-size: 1.5rem;
}
.property-card>:nth-child(4)
{
    font-size: 0.7rem;
    width: 15rem;
}

.property-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(136, 160, 255, 0.46) 217.91%
    );
    box-shadow: 0px 72px 49px --51px rgba(136, 160, 255, 0.21);
}

.swiper-hoeizontal{
    overflow: visible;
}


.property-button{
    gap: 1rem;
    /* position: absolute; */
    top: -4rem;
    right: 0;
}

.property-button >button{
    font-size: 1.rem;
    border: none;
    background-color: white;
    color: blue;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;

}

.property-button>:nth-child(1)
{
    background-color: #EEEEFF;
}
.property-button>:nth-child(2)
{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}